<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNBl5-4-qaD5DXJGaF0elHFVgf02hRcb0</string>
	<key>GCM_SENDER_ID</key>
	<string>1095205891850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleynaaktas.wordrace</string>
	<key>PROJECT_ID</key>
	<string>word-race-project</string>
	<key>STORAGE_BUCKET</key>
	<string>word-race-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095205891850:ios:16de0b09bfa9a5211654f3</string>
</dict>
</plist>